<!-- Want to move this to a separate JS file -->
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("coll_active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
                gtag('event', 'expand-dropdown', {
                    'event_category': 'Drowdowns',
                    'event_label': 'Dropdown:' + this.innerHTML,
                    'value': this.innerHTML
                });
                console.log("sent");
            } 
        });
    }
    </script>