<div class="nav">
    <ul>

        {% for item in site.data.navigation %}
            <li>
                <a {% if page.url == item.link %}class="active"{% endif %} href="{{site.baseurl}}{{ item.link }}">{{ item.name }}</a>
            </li>
        {% endfor %}

        {% assign socials = site.data.socials | where:'header', true %}
        {% for item in socials %}
            <a href = "{{item.url}}">
                <img src="{{item.img_src}}" class="nav-logo">
            </a>   
        {% endfor %}
    </ul>
</div>