
.collapsible {
    background-size: cover;
    color: white;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    text-shadow: 1px 1px 2px black;       
}

.collapsible_large {
    padding: 18px;
    font-size: xx-large;
}

.collapsible_small {
    padding: 8px;
    font-size: large;
}

.coll_active, .collapsible:hover {
    background-color: #555;
}

.coll_active {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.coll_content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.coll_active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}