body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    padding: 0;
}

.title {
    font-family: 'Cinzel Decorative';
    /* text-decoration: underline; */
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid black;
}
h1 {
    font-family: 'Cinzel Decorative';
}
h2 {
    font-family: 'Cinzel Decorative';
}
h3 {
    font-family: 'Cinzel Decorative';
}
h4 {
    font-family: 'Cinzel Decorative';
}

.twt_wrap {
    text-align: center;
}
.twt_wrap > iframe {
    margin: auto;
}

.container{
    min-height:100%;
    min-width: 100%;
    position:absolute;
}

/* Style the header */
.header {
    padding: 40px;
    text-align: center;
    color: white;
    background-image: url("/images/background.jpg");
    background-size:cover;
    font-family: 'Cinzel Decorative';
    font-size: 22px;
    text-shadow: 2px 2px #000000;
}

/* Style the content */
.content {
    background-color: white;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 14px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom:60px; 
}

.avatar {
    max-width: 200px;
    border-radius: 50%;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content h1{
    font-size: 22px; 
}
.content h2{
    font-size: 20px; 
}
.content h3{
    font-size: 18px; 
}


.content table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed ;
    width: 50% ;
}

.content td {
    width: 50% ;
}

#mapdiv {
    width: 100%; 
    height: 450px;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 1px;
    text-align: center;
    color: black;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
}
/* unvisited link */
.footer a:link {
    text-decoration: none;
    color: black;
}

/* visited link */
.footer a:visited {
    text-decoration: none;
    color: black;
}

/* mouse over link */
.footer a:hover {
    color: rgb(146, 1, 1);
}

/* selected link */
.footer a:active {
    color: rgb(146, 1, 1);
}

.banner {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: darkred;
    color: white;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.banner a{
    color: white;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

.nav li a:hover {
    background-color: white;
    color: black;
}

.nav-logo {
    height: 30px; 
    padding:5px;
    float: right; 
}

.active {
    background-color: white;
    color: black !important;
}

.mar_b_0 {
    margin-bottom: 0px;
}


.icon-3d-5 {
  padding: 5px;
}

.icon-3d-10 {
    padding: 10px;
  }

.icon-3d-dark {
    color: black;
    &:hover {
        -webkit-animation: icon3ddark 300ms infinite;
              animation: icon3ddark 300ms infinite;
      }
}

.icon-3d-light {
    color: white;
    &:hover {
        -webkit-animation: icon3dlight 300ms infinite;
              animation: icon3dlight 300ms infinite;
      }
}

$redColorDark: #78020699;
$blueColorDark:#06116199;

@keyframes icon3ddark {
  0% {
    text-shadow: 5px 4px $redColorDark, -5px -6px $blueColorDark;
  }
  25% {
    text-shadow: -5px -6px $redColorDark, 5px 4px $blueColorDark;
  }
  50% {
    text-shadow: 5px -4px $redColorDark, -8px 4px $blueColorDark;
  }
  75% {
    text-shadow: -8px -4px $redColorDark, -5px -4px $blueColorDark;
  }
  100% {
    text-shadow: -5px 0 $redColorDark, 5px -4px $blueColorDark;
  }
} 

$redColorLight: #e95f6499;
$blueColorLight:#4a5ce799;

@keyframes icon3dlight {
  0% {
    text-shadow: 5px 4px $redColorLight, -5px -6px $blueColorLight;
  }
  25% {
    text-shadow: -5px -6px $redColorLight, 5px 4px $blueColorLight;
  }
  50% {
    text-shadow: 5px -4px $redColorLight, -8px 4px $blueColorLight;
  }
  75% {
    text-shadow: -8px -4px $redColorLight, -5px -4px $blueColorLight;
  }
  100% {
    text-shadow: -5px 0 $redColorLight, 5px -4px $blueColorLight;
  }
} 

@media screen and (max-width: 481px){

    .content{
        padding-left: 3%;
        padding-right: 3%;
    }

    .header{
        padding: 10px;
    }

    .nav-logo {
        display: none !important;
    }

  }
