<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/beta/assets/css/{{ page.style }}.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  </head>
  <body>
        <div class="container">
            {% include header.html %}
            {% include navigation.html %}
            {% if site.show_banner %}
              {% include banner.html %}
            {% endif %}
            <div class="content">
                <h1 class="title">{{ page.title }}</h1>
                    {{ content }}
            </div>
            {% include footer.html %}
        </div>
  </body>
</html>