---
layout: default
---

{% for item in site.data.projects %}
    {% if page.title == item.name %}

    {% include code_links.html %}

        <p>{{item.long_desc}}</p>
        
        <br><br>
        {% if item.pictures %}
            Here are some pictures of {{item.name}}:
            <br>
            {% for pic in item.pictures %}
                <img class="proj_img" src="{{site.baseurl}}{{pic}}">
            {% endfor %}
        {% endif %}
        <br>
        <a href="{{site.baseurl}}/projects/">Back to projects...</a>


    {% endif %}
{% endfor %}