---
layout: default
---

{% for item in site.data.projects %}
    {% if page.title == item.name %}

        {% if item.github %}
            <a href="{{item.github}}">
                <img class="site_icon" src="/images/github-logo-black.png">
            </a>
        {% endif %}
        {% if item.devpost %}
            <a href="{{item.devpost}}">
                <img class="site_icon" src="/images/devpost-logo.png">
            </a>
        {% endif %}
        {% if item.devpost or item.github %}
            <br>
        {% endif %}

        {{item.long_desc}}
        <br><br>
        {% if item.pictures %}
            Here are some pictures of {{item.name}}:
            <br>
            {% for pic in item.pictures %}
                <img class="proj_img" src="{{site.baseurl}}{{pic}}">
                <br>
            {% endfor %}
        {% endif %}
        <br>
        <a href="{{site.baseurl}}/projects/">Back to projects...</a>


    {% endif %}
{% endfor %}