---
layout: default
---

{% for item in site.data.projects %}
    {% if page.title == item.name %}

    {% include code_links.html %}

        <p>{{item.long_desc}}</p>
        
        {% if item.pictures %}
            <p>Here are some pictures of {{item.name}}:</p>
            {% for pic in item.pictures %}
                <img class="proj_img" src="{{site.baseurl}}{{pic}}">
            {% endfor %}
            <br>
        {% endif %}

        {% if item.videos %}
            <p>Here are some videos of {{item.name}}:</p>
            {% for vid in item.videos %}
                <h3>{{vid.title}}</h3>
                <iframe class="youtube" src="{{vid.url}}"  allow="autoplay; encrypted-media" allowfullscreen></iframe>
            {% endfor %}
            <br>
        {% endif %}
        <br>

        <div class="svg-wrapper">
            <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                <rect id="shape" height="40" width="150" />
                <div id="text">
                    <a href="{{site.baseurl}}/projects/"><span class="spot"></span>Other Projects</a>
                </div>
            </svg>
        </div>


    {% endif %}
{% endfor %}